# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
.venv
secrets/
*youtube_credentials.json
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# App output and data
output/
storage/
temp/
logs/
*.log
*.sqlite3
*.db

# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp
